{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1>About Us</h1>

<div class="text-center">
  <p class="h1">This is a study group.  We support one another with respect to our mutual income goals.</p>
  <br/>
  <blockquote  class="h3" cite=" Hill, N. (2008). Think and grow rich: the complete classic text. New York: Jeremy P. Tarcher/Penguin. (pg. xi)">
    All who read, understand and apply this philosophy will be better prepared to attract and enjoy these higher estates which always have been and always will be denied to all except <em>those who are ready for them</em>.
    <br/>
    -- Tarcher, Perigree 1937
  </blockquote>
  <hr/>
  <p>Our crypto supply will be limit in number to that number of users of the network.
Every user will be able to earn their own crypto from completing each step in order.
Once you have mined all your coins, you will still be able to earn by maintaining
a node for the network and verifying transactions if you choose to.
If you need more coins at that point you would have to purchase them at market price
in the open market.  Of course one does not have to wait until one has no other
coins before purchasing more if they desire to.</p>
<p>Every user will have the opportunity to create and produce one million (1,000,000) crypto
  coins by the time they complete the 12 steps.  That's 83,333 for every step completed!</p>
  <p>Come learn with us!  Rightside has put the 'earn' in learn!</p>
  <p>The block is not mined until the goal is completed!</p>
  <p>Our philosophy here is that if this is an immutable data structure, it should be made with care and necessarily some time.
  Our proof-of-work is not a random puzzle solved by the computer, but those specific tasks
that the user has taken.  Where Bitcoin handles proof-of-work with random nonce values to create a hash with a
certain number of leading characters like zeros, our equivalent is our users taking certain &
specific steps in order to achieve their goals.  Once their goal is acheived and their block mined,
they will have 83,333 coins rewarded to them for their efforts.</p>
</div>

{% endblock content %}
